.box {
    background-color: black;
    width: 130px;
    height: 330px;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#red {
    background-color: red;
}

#yellow{ background-color: yellow;
}

#green{ background-color: green;
}
.light {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 5px; 
}